body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

h1 {
    text-align: center;
    width: 100%;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 2px solid #999;
    height: 64px;
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: grid;
    flex-direction: row;
}

.game-board{
    text-align:center;
    width: 192px;
    margin:auto;
}

.coin {
    height: 30px;
    width: 30px;
}

.game-info {
    text-align: center;
}

.game-info .coin {
    display: grid;
    margin: 10px auto;
}

.player-select {
    text-align: center;
}

.btn {
    background-color: orange;
}

.btn.active {
    background-color: darkorange;
}

.player-select input {
    display:none;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-out;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}